@model HealthInsuranceV3.Models.InsuranceDetailModel

@{
    Layout = "_Layout";
    ViewData["title"] = "Registration Success";
}
<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <p class="d-inline-block border rounded-pill py-1 px-4"></p>
    <h1>Registration Success!</h1>
    <h4>You can check Personal Insurance Management tab above for more infomation</h4>
</div>
